<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.chugchallenge"
    versionCode = "10"
    version     = "1.0.1" >

<!-- versionCode is optional and Android only -->
<plugin name="cordova-plugin-firebase" spec="0.1.20" />
 
  <name>Chug Challenge</name>

  <description>
      A drinking game
  </description>

  <author>
      Charles de Kerckhove
  </author>

</widget>
